/*

    This file is part of CovAPP.

    CovAPP is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    CovAPP is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with CovAPP.  If not, see <http://www.gnu.org/licenses/>.

    */

/* Background pattern from Subtle Patterns */

h1.crop {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('../image/background.png');
  font-size: 16px;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.container-narrow > hr {
  margin: 40px 0 0 0;
}

.jumbotron {
  margin: 5px 0;
  text-align: center;
  background-color: white;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

#qrcode_patient_xml {
  margin-right: auto;
  margin-left: auto;
}

#qrcode_patient_xml img {
  width: 100%;
  max-width: 100%;
}

#answers_table table {
  width: 100%;
}

#answers_table th,
td {
  text-align: left;
}

#answers_table tr:nth-child(even) {
  background-color: #dddddd;
}

#answers_table td {
  padding: 4px;
}

.introduction {
  text-align: start;
}

.introduction button a {
  color: #ffffff;
  text-decoration: none;
}

.jumbotron h1 {
  font-size: 50px;
  line-height: 1.5;
}

#answers_table table {
  width: 100%;
  font-size: 14px;
}

.form-horizontal {
  display: block;
  margin-bottom: 30px;
}

.form-horizontal label {
  font-size: 20px;
  display: block;
}

.h2,
h2 {
  font-size: 28px;
}

.h3,
h3 {
  font-size: 24px;
}

.h4,
h4 {
  font-size: 20px;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
}

ol,
ul {
  line-height: 1.5;
}

.logo {
  width: 300px;
  margin: 0 auto 30px;
  display: block;
  max-width: 80%;
}
